.login {
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
}

.loginLeft, .loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo {
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
}

.logindesc {
    font-size: 24px;;
}

.loginBox {
    height: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput {
    height: 50px;border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.loginInput:focus {
    outline: none;
}

.loginButton {
    height: 50px;
    border-radius: 10px;
    border:  none;
    background-color: #1775ee;
    font-size: 20px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}
.loginButton:hover {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #0858c0;
    font-size: 20px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}
.loginButton:disabled {
    cursor: not-allowed;
}

.loginForgot {
    text-align: center;
    color: blue;
    background-color: white;
    border: none;
    cursor: pointer;
}
.loginForgot:hover {
    text-align: center;
    color: rgb(73, 73, 212);
    background-color: white;
    border: none;
    cursor: pointer;
}

.loginRegister {
    width: 50%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    font-size: 20px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    align-self: center;
}
.loginRegister:hover {
    width: 50%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #478d39;
    font-size: 20px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    align-self: center;
}